body {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.text-justify {
    text-align: justify;
}

.icon-size {
    width: 20px;
    height: auto;
}

.icon-image {
    width: 45%;
    height: auto;
    align-self: center;
    margin: 1rem;
}