a {
    text-decoration: none;
    color: white;
}

body {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.blur-background {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: rgba(200, 200, 200, 0.265);
    backdrop-filter: blur(6px);
    border-radius: 1.5rem;
}

.text-bold-title {
    font-weight: 400;
}

.text-justify {
    text-align: justify;
}

.social-icon {
    border: none;
    background-color: white;
}

.social-icon:hover {
    background-color: rgb(27, 53, 70);
    color: white;
    transition: 0.5s;
}

.icon-image {
    width: 45%;
    height: auto;
    align-self: center;
    margin: 1rem;
}

.card-title {
    font-size: larger;
}

.card:hover {
    background-color: rgb(27, 53, 70);
    color: white;
    transition: 0.5s;
}